/*Body-style*/
body{
  background-color: #e3e3e3;
  width: 100%;
  height: 100%;
}

/*Main-style*/
main{
  box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
  margin: 3%;
  background-color: #FFFFFF;
}

/*Header-style*/
header{
  position: sticky;
  position: -webkit-sticky;
  z-index: 1;
  top:0;
}

/*Section-style*/
section.jumbotron{
  background-color: #FFFFFF;
  padding: 6% 3%;
}

/*Nav-style*/
nav{
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);

}

/*Jumbotron-landing-style*/
.jumbotron.landing{
  background-color: transparent;
  margin: 0;
  color: #000000;
  font-family: 'Monoton', cursive;
  word-spacing: 20px;
  padding: 25%;
}

/*Jumbotron-work-style*/
.jumbotron.work{
    margin: 0 auto;
}

/*Card-title-style*/
h4.card-title{
  color: #FFFFFF;
}

/*Jumbotron-about-style'*/
.jumbotron.about{
  background-color: #FFFFFF;
  margin: 0;
  color: #000000;
}

/*Sub-heading-style*/
h2{
  font-family: 'Monoton', cursive;
  font-weight: 500;
  word-spacing: 10px;
}

/*Paragraph-style*/
p{
  font-family: 'Yellowtail', cursive;
  font-size: 25px;
}

/*Tools-style*/
p.tools-list-item{
  font-family: 'Roboto', sans-serif;
}

/*Tools-links-style*/
.footer-item, .footer-link, .footer{
  padding: 0px 0px;;
  margin: 0px;
  display: inline;
}

/*Footer-style*/
footer{
  background-color: #000000;
  margin: 0 auto;
  overflow: auto;
  padding:30px;
  text-align: justify;
  display: inline;
}

/*Footer-links-style*/
footer.ul.li.a{
  padding: 0px;
  text-decoration: none;
  color:#FFFFFF;
}

footer.ul.li.a:hover{
  padding: 0px;
  text-decoration: none;
  color:#FFFFFF;
  text-align: center;
}

/*Row-style*/
.row{
  margin: 0 auto;
  text-align: center;
}

/*Links-style*/
a{
  color: #F0F0F0;
}

a:hover{
  color: #FFFFFF;
  letter-spacing: 3px;
  text-decoration: none;
}

a:active{
  color:#000000;
  letter-spacing: 2px;
}


.footer-item{
  padding: 10px;
}

ul .footer.col-lg-4{
  display: inline;
  margin: 0 auto;
  text-align: center;
}

/*Tabs-style*/
.nav-tabs>li>a{
  display: inline;
  color: #000000;
  text-decoration: none;
}

.nav-tabs>li>a:active{
  background-color: #000000;
}

/*Copyright-style*/
p.footer-copyright{
  color: #FFFFFF;
  font-family: sans-serif;
  font-size: 12px;
  text-align: center;
  padding: 20px;
}

/*Pagination-style*/
.page-item.active>.page-link{
  background-color: #000000 !important;
  color: #FFFFFF !important;
  border-color: #000000;
}

.page-item>.page-link{
  background-color: #FFFFFF !important;
  color: #343A40 !important;
}

.page-item>.page-link:hover{
  background-color: #343A40 !important;
  color: #FFFFFF !important;
}

/*Modal-style*/
.modal-content{
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

/*Badge-style*/
.badge:hover{
  padding: 2%;
  background-color: #000000;
  color: #FFFFFF;
}
